.index {
  background: $main-color;
}
.login_container {
  width: 100%;
  height: 100%;

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    min-height: 460px;

    .login_logo {
      width: 200px;
      height: 200px;
      margin-bottom: 30px;
      background: url(../img/logo.png) no-repeat center center / auto 100%;
      /* 컴파일 된 이후의 경로 */
    }
  }

  .login_form {
    width: 240px;
    margin: 0 auto 80px;
    font-size: 14px;

    input {
      width: 240px;
      height: 40px;
      border: 1px solid $sub-color;

      &:focus {
        outline: none;
      }
      &::placeholder {
        color: $color-gray;
      }
    }

    .login_form_box {
      margin-bottom: 7px;

      .login_form_id {
        padding-left: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .login_form_pw {
        padding-left: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    .login_form_btn {
      cursor: pointer;
      background: $sub-color;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
      margin-bottom: 20px;
      transition: all 300ms;

      &:hover {
        background: white;
        color: $sub-color;
        border: 1px solid $sub-color;
      }
    }

    .login_form_check {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      cursor: pointer;
    }
    .login_check_label {
      cursor: pointer;
      vertical-align: middle;
      color: white;
    }
  }
}
